<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>巡店</title>
    <link rel="stylesheet" href="__PUBLIC__/css/reception.css">
    <script>
        //配置后台地址
        var app = {
            'base': '__PUBLIC__/vendor',
        };
    </script>
    <script src="__PUBLIC__/vendor/require.js"></script>
    <script src="__PUBLIC__/vendor/config.js"></script>
    <style>
        .ng-cloak {
            display: none;
        }
    </style>
</head>
<body ng-cloak class="ng-cloak" ng-controller="ctrl">
<div class="container">